* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 0.4s ease;
}
:root {
  --body-color: #fff;
  --sub-color:#edebe7;
  --side-nav: #f8d7ac;
  --text-color: black;
  --search-bar: #fab489;
  --search-text: #010718;
  --basic-text-color:#f5650e;
}
body.dark {
  --sub-color:#222f3c;
  --body-color: #001;
  --nav-color: #242526;
  --side-nav: #f5650e;
  --text-color: #fff;
  --search-bar: #f5650e;
}


body {
  height: 100vh;
  background-color: var(--body-color);
}
nav {
  position: fixed;
  top: 0;
  height: auto;
  width: 100%;;
  background-color: var(--nav-color);
  z-index: 100;
}
.logo1{
margin-top: 100px;
width: auto;
display: flex;
justify-content: center;
}
.PicUser{
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.PicUser:hover{
  margin-top: 10px;
  transform: scale(2.5);
  translate:4s ;
}

body.dark nav {
  border: 1px solid #393838;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-image:linear-gradient(to left ,#f5650e, transparent ) ;
  margin: 0 auto;
  padding: 0 30px;
  backdrop-filter: blur(10px);

}
nav .nav-bar .nv{
  display: flex;
  flex-direction: row;
}
.menu{
  display: flex;
  padding: 10PX 0 0 0;
  width: 100%;
  gap: 600px;
  justify-content: center;
}

nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}



.nav-bar .nav-links {
  display: flex;
  gap: 40px;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px 0 10px 0;
}

.nav-links li a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}

.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
  height: auto;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
  height: auto;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.dark-light i,
.searchToggle i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dark-light i.sun{
  opacity: 0;
  pointer-events: none;
}

.dark-light.active i.sun{
  opacity: 1;
  pointer-events: auto;
}

.dark-light.active i.moon{
  opacity: 0;
  pointer-events: none;
}

.searchToggle i.cancel{
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel{
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search{
  opacity: 0;
  pointer-events: none;
}

.searchBox{
  position: relative;
}

.searchBox .search-field{
  position: absolute;
  top: 10px;
  left: -80px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  transition: all 0.3s ease;
  opacity: 0;
}

.searchToggle.active ~ .search-field{
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.search-field::before{
  content: '';
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input{
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}

body.dark .search-field input{
  color: var(--text-color);
}

.search-field i{
  position: absolute;
  color: var(--nav-color);
  right: 15px;
    font-size: 22px;
    cursor: pointer;
  }
  
  body.dark .search-field i .txt{
    color: var(--text-color);
  }
  
  .logo-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  .profile-dropdown {
    position: relative;
  }
  
  .dropdown {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 0px; /* Adjust as needed */
    background-color: #f5670e14;
    color: var(--text-color);
    padding: 20px;
    display: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .dropdown a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 5px 15px;
    transition: background-color 0.5s ease;
    border-radius: 150px;
  }  
    
  .dropdown.active {
    display: block;
  }
  
  .dropdown.a:hover{
    background-color: var(--basic-text-color);
  }
    
  .dropdown a:hover {
    background-color: var(--basic-text-color);
  }
  @media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
      }
      
      .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
      }
      
    nav.active .menu{
        top: 0;
      }
      
      nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
      }
      
      .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}


.contianer{
    margin: 100px;
    display: flex;
}
span{
  display: block;
    font-weight: 700;
}
h2{
  display: inline;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;  
}
.fristname{
  color: var(--basic-text-color);
}
p{
    white-space: pre-line;
    line-height: 35px;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}
.photo{
    transition: 1s;
    box-shadow:0 10px 7px 0px #0b0b0b62;
    margin: 90px 0 0 100px;
    width: 400px;
    border: var(--basic-text-color) solid;
    border-radius: 20px;    
  }
  .photo:hover{
      translate:0 -40px ;
  }
  .word{
    width: 700px;
    margin-top: 0px;
    margin-left: 150px;
}
.icons{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}
a{
  text-decoration: none;
  margin: 10px 0;
  color: red;
  transition: 1;
}
h2:hover ,a:hover{
    text-decoration: underline;
    text-shadow: #001 2px 2px 2px;
}
hr{
    width: auto;
    color: var(--text-color);
}
@media screen and (max-width:600px) {
    nav{
        flex-wrap: wrap;
        margin: 0;
        justify-content: center;
    }
    
    .contianer{
        flex-wrap: wrap;
        margin: 0;
        justify-content: center;
    }
    .photo{
        margin-top: 50px;
        margin-left: 0;
    }
    .word{
        margin-left: 0;
        text-align: center ;
    }
    .ded{
        display: none;
    }
    .zz{
        margin-bottom: 20px;
    }
}
#ded{
  width: fit-content ;
  position: fixed;
  bottom: 0;
  left: 40%;
  font-size: 10px;
  border: #f5670e7e solid 1px;
  border-radius:10px;
  padding: 5px;
  margin-bottom:2px ;
}
body.dark .txt{
    color: var(--text-color);
  
  }
